body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header section */

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

h1 a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search section */

.search {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

/* Reviews section */

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px; 
  margin: 0 auto;
  overflow-y: auto;
}

.review {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 80%;
  min-width: 80%;
}

.review h3 {
  color: #333;
  font-size: 1em;
  margin-bottom: 8px;
}

.review h4 {
  color: #555;
  font-size: 0.9em;
  margin-bottom: 8px;
  font-weight: normal;
}

.review h4 b {
  color: rgb(0, 0, 0);
}

.review h5 {
  color: #777;
  font-size: 0.8em;
}

.review h6 {
  color: #777;
  font-size: 0.8em;
}

h2 {
  margin: 0.5em 4em;
}

/* Hotels section */

.hotels {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 1% 10%;
}

.hotel {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 80%;
}

.hotel h3 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.hotel h4 {
  color: #555;
  font-size: 0.9em;
  margin-bottom: 8px;
}

.hotel a {
  text-decoration: none;
  color: #007BFF;
  font-size: 0.9em;
}

.hotelInfo, .moreInfo {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

.hotelInfo h1, .moreInfo h4 {
  margin: 0;
  padding: 2em 3em;
}

.hotelInfo p {
  font-size: 1.1em;
}

.hotelInfo a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.hotelInfo a:hover {
  text-decoration: underline;
}

.left {
  margin-right: auto;
  margin-left: 4em;
}

/* Footer section */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5em;
}

/* Simple container for horizontal alignment */

.container {
  display: flex;
  align-items: center;
}

.container > * {
  margin-right: 10px;
}